body {
    margin: 0;
    padding: 0;
    /* background-image: url('../basic/background/0.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
