body {
    margin: 0;
    padding: 0;
    background-image: url('img/background.jpg');
    background-size: cover;
}

.search-box:hover {
    width: 400px;
    opacity: 1;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-sel {
    width: 100px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    padding: 10px;
    transition: 0.4s;
    opacity: 0.4;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.search-sel {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    background-color: #2f3640;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    height: 40px;
    text-align: center;
    text-align-last: center;
}

.fastlinker {
    opacity: 0;
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: 0.8s;
    background-color: rgba(96, 96, 96, 0.3);
}
.fastlinker:hover {
    opacity: 1;
}
.fastlinker div {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-image: url('circle.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    float: left;
}
.fastlinker p {
    font-size: 15px;
    text-overflow: ellipsis;
    width: 120px;
    text-align: center;
    overflow:hidden;
}
.fastlinker a {
    text-decoration: none;
    /* font-family: 'STHeiti'; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
}
img.radiuscenter {
    display: block;
    margin-top: 13px;
    margin-left: 48px;
    width: 24px;
    height: 24px;
    border-radius: 20%;
    /* background-color: darkgrey; */
}
.clock {
    opacity: 0;
    position: fixed;
    left: 10px;
    top: 10px;
    transition: 0.5s;
}
.clock:hover {
    opacity: 1;
}